* {
    font-family: 'Raleway', sans-serif;
    margin: 0;
    color: white;
}

body {
    background-color: black;
    display: block;
}

/*              COMEÇO DA ESTILIZAÇÃO DO HEADER                                     */

header.banner {
    height: 600px;
    background-image: linear-gradient(rgba(0, 0, 0, .6), rgba(49, 168, 221, .2), rgba(0, 0, 0, .6)), url(assets/images/banner.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 60px;
    border-bottom: 1px solid #33A8DB80;
}

div.banner-content {
    width: 600px;
    height: 466px;
    margin: auto;
    text-align: center;
}

.banner-content > .logo {
    background-color: rgba(0, 0, 0, .2);
    height: 260px;
    width: 260px;
    margin: auto;
    border-radius: 50%;
    padding: 16px;
    margin-bottom: 16px;
}

.banner-content > h1 {
    text-transform: uppercase;
    font-size: 2.5em;
    font-weight: 900;
    color: transparent;
    background: -webkit-linear-gradient(#33A8DB, #1472B7);
    background-clip: text;
    -webkit-background-clip: text;
}

.banner-content > p {
    display: block;
    font-size: 1.2em;
    margin: 16px 0 24px;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    unicode-bidi: isolate;
}

.banner-content > button {
    width: 316px;
    height: 55px;
    background-color: transparent;
    border: 3px solid #33A8DB80;
    text-transform: uppercase;
    color: #33A8DB;
    font-size: 15px;
    font-weight: bold;
    letter-spacing: 2.5px;
}

/*              COMEÇO DA ESTILIZAÇÃO DO MAIN                                        */

main {
    display: block;
}

main > #course-content {
    text-align: center;
    border-bottom: 1px solid #33A8DB80;
}

main > #course-content > h2{
    color: #33A8DB;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    margin: 5em 0 1em;
}

main > #course-content > p{
    margin: auto;
    text-align: center;
    width: 900px;
    letter-spacing: 1px;
    margin-bottom: 1.5em;
}

.modules-list > .module {
    letter-spacing: 1px;
    background-color: #252525;
    width: 500px;
    height: 50px;
    margin: 2% auto;
    padding-top: 15px;
    border: 1px solid #33A8DB;
    border-radius: 30px;
}

.modules-list > .module  > span{
    color: #33A8DB;
}

.modules-list > .module:last-child {
    margin-bottom: 5em;
}

#transform-world {
    background-image: url(assets/images/woman-code.png);
    height: 560px;
    padding: 200px;
    padding-left: 100px;
    background-size: cover;
    background-attachment: fixed;
    border-bottom: 1px solid #33A8DB;
}

#transform-world > p {
    font-weight: 900;
    font-size: 2.5em;
    text-align: justify;
    text-shadow: #33A8DB 3px 2px;
    margin-left: 5em;
    text-transform: lowercase;
}

#professional-challenges{
    text-align: center;
    border-bottom: 1px solid #33A8DB;
}

#professional-challenges > h2{
    color: #33A8DB;
    font-size: 2em;
    font-weight: bold;
    margin-bottom: 24px;
    text-transform: uppercase;
    letter-spacing: 4px;
    padding: 120px;
}

#professional-challenges > p{
    margin: auto;
    font-weight: 500;
    padding: 80px 0;
    max-width: 750px;
}

/*              COMEÇO DA ESTILIZAÇÃO DO FOOTER                                     */

footer {
    padding: 60px 0;
    text-align: center;
    background-image: linear-gradient(rgba(50, 168, 219, .0), rgba(50, 168, 219, .2));
    
}

footer > p > a {
    color: #33A8DB;
    font-weight: 600;
    text-decoration: none;
}